@import url('https://unpkg.com/leaflet/dist/leaflet.css');

#map {
  height: 100vh;
}

.moving-object.square {
  background: blue;
  width: 24px !important;
  height: 24px !important;
  z-index: 1000 !important;
}

.moving-object.circle {
  background: green;
  margin-left: -12px !important;
  width: 24px !important;
  height: 24px !important;
  border-radius: 50%;
  z-index: 1000 !important;
}

.moving-object.triangle {
  margin-left: -11px !important;
  margin-top: -11px !important;
  width: 24px !important;
  height: 24px !important;
  transform: translate3d(859px, 321px, 0px);
  background: yellow;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  z-index: 1000 !important;
}

.start-marker {
  background: url("flag-icon.png") no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 330px;
  height: 190px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: transparent;
  border-radius: 8px;
  max-width: 80%;
}

.modal-content h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #fff;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 30px;
  font-weight: bold;
  color: #aaa;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #333;
}

.modal-content p {
  margin: 8px 0;
  font-size: 1rem;
  color: #fff;
}

#objectType,
#objectSpeed,
#objectPosition,
#timeToExpire {
  font-weight: bold;
  color: #fff;
}

.control-container {
  background-color: white;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  font-family: Arial, sans-serif;
  border-radius: 5px;
  z-index: 10000;
}

.control-container > div {
  margin-bottom: 8px;
  font-weight: bold;
}

.control-container > button {
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 5px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.control-container > button:hover {
  background-color: #45a049;
}

.control-container > label {
  display: block;
  margin-bottom: 3px;
}

.control-container > label > input[type="checkbox"] {
  margin-right: 5px;
  vertical-align: middle;
}

.control-container {
  background-color: white;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  font-family: Arial, sans-serif;
  border-radius: 5px;
  z-index: 10000;
}

.control-container > div {
  margin-bottom: 8px;
  font-weight: bold;
}

.control-container > button {
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 5px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.control-container > button:hover {
  background-color: #45a049;
}

.control-container > label {
  display: block;
  margin-bottom: 3px;
}

.control-container > label > input[type="checkbox"] {
  margin-right: 5px;
  vertical-align: middle;
}

#map {
  height: 100vh;
}

.control-container .map-controls button {
  margin-top: 5px;
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ccc;
}

.control-container .map-controls button:hover {
  background-color: #45a049;
}

.control-container .map-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 18px;
  bottom: 0px;
  background: white;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.control-container .title {
  font-size: 14px;
  margin-top: 0;
}

.control-container .map-controls div {
  display: flex;
}

.control-container .map-controls div button {
  background-color: #4caf50;
  padding: 6px;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 2px;
}

.leaflet-control-rotate {
  display: block !important;
}

